# vim: ft=sioyek fdm=marker

background_color 0.1647 0.1647 0.1804
page_separator_width 20
page_separator_color 0.1647 0.1647 0.1804
super_fast_search 1

# for some reason toggle_smooth_scroll doesn't work with startup_commands
startup_commands toggle_horizontal_scroll_lock;toggle_smooth_scroll_mode
